<div class="wrapper style1 first">
    <article class="container" id="top">
        <div class="row">
            <div class="4u 12u(mobile) ">
                <!--							<span class="image fit"><img src="images/irs__logo.png" alt="" /></span>-->
                <div class="page-header__logo-wrp">
                    <div class="page-header__logo-text">ИРС</div>
                    <img src="/images/irs__logo.png" class="page-header__logo" alt="logo">

                    <a href="/" class="link absolute-block-link"></a>
                </div>
            </div>
            <div class="8u 12u(mobile)">
                <header>
                    <h1>Все говорят, а мы <strong>делаем</strong>.</h1>
                </header>
                <p>Привет, приглашаем всех желающих посетить второй ежегодный meetUp от компании ИРС!</p>

                <a href="#work" class="button big scrolly">Партнеры</a>
            </div>
        </div>
    </article>
</div>