<!-- Nav -->
<nav id="nav">
    <ul class="container">
        <li><a href="#top">meetUp</a></li>
        <li><a href="#work">Участники</a></li>
        <li><a href="#portfolio">Выступления</a></li>
        <li><a href="#contact">Регистрация</a></li>
    </ul>
</nav>