<div class="wrapper style3">
    <article id="portfolio">
        <header>
            <h2>Пока все говорили, мы делали</h2>
            <p><strong>настоящее импортозамещение</strong></p>
        </header>
        <div class="container">
            <div class="row">
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                        <h3><a href="#">Magna feugiat</a></h3>
                        <p>Ornare nulla proin odio consequat.</p>
                    </article>
                </div>
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                        <h3><a href="#">Veroeros primis</a></h3>
                        <p>Ornare nulla proin odio consequat.</p>
                    </article>
                </div>
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                        <h3><a href="#">Lorem ipsum</a></h3>
                        <p>Ornare nulla proin odio consequat.</p>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                        <h3><a href="#">Tempus dolore</a></h3>
                        <p>Ornare nulla proin odio consequat.</p>
                    </article>
                </div>
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                        <h3><a href="#">Feugiat aliquam</a></h3>
                        <p>Ornare nulla proin odio consequat.</p>
                    </article>
                </div>
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
                        <h3><a href="#">Sed amet ornare</a></h3>
                        <p>Ornare nulla proin odio consequat.</p>
                    </article>
                </div>
            </div>
        </div>
        <footer>
            <p>Приходите будет по настоящему <strong>интересно!</strong></p>
            <a href="#contact" class="button big scrolly">Регистрация</a>
        </footer>
    </article>
</div>