<div class="wrapper style2">
    <article id="work">
        <header>
            <h2>Все кто для вас старался</h2>
            <p>Мы старались и подготовили  экпозицию, презентации.....</p>

        </header>
        <div class="container">
            <div class="row">
                <div class="4u 12u(mobile)">
                    <section class="box style1">
                        <span class="icon featured fa-comments-o"></span>
                        <h3>Consequat lorem</h3>
                        <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
                    </section>
                </div>
                <div class="4u 12u(mobile)">
                    <section class="box style1">
                        <span class="icon featured fa-camera-retro"></span>
                        <h3>Lorem dolor tempus</h3>
                        <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
                    </section>
                </div>
                <div class="4u 12u(mobile)">
                    <section class="box style1">
                        <span class="icon featured fa-thumbs-o-up"></span>
                        <h3>Feugiat posuere</h3>
                        <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
                    </section>
                </div>
            </div>
        </div>
        <footer>
            <p>и много интересных докладов</p>
            <a href="#portfolio" class="button big scrolly">Доклады</a>
        </footer>
    </article>
</div>